<div class="col tweet-card">
  <div class="card h-100 overflow-hidden">

    <div class="card-body">
      <p class="card-title small text-muted">
        <strong><%= author.name %></strong>
        <a class="text-muted" href="https://twitter.com/<%= author.username %>">
          <span>@<%= author.username %></span>
        </a>
      </p>
      <p class="card-text ws-pre-wrap"><%- text %></p>
    </div>

    <div class="container g-0 h-100">
      <div class="row row-cols-<%= media.length > 1 ? 2 : 1 %> g-0">
        <% media.forEach(mediaItem => {%>
        <% const src = `${mediaItem.file_id.toString('hex')}.${mediaItem.file.file_extension.ext}` %>
        <div class="col">
          <input id="<%= mediaItem.media_key %>" class="media-preview-toggle" type="checkbox">
          <label for="<%= mediaItem.media_key %>" class="media-expand thumbnail">

            <% if (mediaItem.type === 'photo') { %>
            <img class="thumbnail" src="<%= src %>">
            <% } else if (mediaItem.type === 'video' || mediaItem.type === 'animated_gif') { %>
            <video class="thumbnail align-top" src="<%= src %>" autoplay muted loop></video>
            <% } %>
          </label>

          <label for="<%= mediaItem.media_key %>" class="media-collapse media-fullview">
            <div class="media-container">

              <% if (mediaItem.type === 'photo') { %>
              <img src="<%= src %>">
              <% } else if (mediaItem.type === 'video' || mediaItem.type === 'animated_gif') { %>
              <video src="<%= src %>" controls loop></video>
              <% } %>

            </div>
          </label>
        </div>
        <%})%>
      </div>
    </div>

    <div class="card-footer">
      <a class="text-decoration-none" href="https://twitter.com/<%= author.username %>/status/<%= id %>">
        <small
          class="text-muted"><%= created_at.toLocaleDateString('en-us', { month: 'short', day: 'numeric', year: 'numeric' }) %></small>
      </a>
    </div>
  </div>
</div>